* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background: #0094FF;
}

h1, h2, h3 {
  margin: 0px;	
}
a {
  color: rgb(247,212,23);
  text-decoration: none;
}
table, td, th {
  border: 1px solid black;
}

figure.obrazek {
  float: left;
}

figure.obrazek img {
  height: 200px;
}


caption, figcaption {
  font-size: 0.85em;
  color: #d42e12;
  font-style: italic;
  padding: 5px 0px;
}

/* Clearfix */
div::after {
  content: "";
  display: table;
  clear: both;
}
.clearfix {
  clear: both;
}


/* Hlavicka */
header {
  background: url("../img/YDSDbJ.jpeg");
  background-position: center;
  background-size: cover;
  background-color: #1c1c1c;
  padding: 100px;
  text-align: center;
}
header h1 {
  font-size: 30pt;
  color: #d42e12;
  margin: 0 0 10px 0;
}
header h2 {
  font-size: 15pt;
  margin: 0px;
  color: black;
}

/* Menu */
nav {
  float: left;
  width: 25%;
  padding: 8px;
  color: #fff;
  background: #d42e12;
}

nav ul {
  padding: 0;
  background-color: #d7d7d7;
  margin: 0;
  padding: 0;
}
nav ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li a {
  color: #d42e12;
  font-size: 1em;
  text-decoration: none;
  display: block;
  border-left: 1em solid #d7d7d7;
  border-right: 1em solid #d7d7d7;
  padding: 0.35em 1em;
}

nav ul li a:hover, nav ul li a:focus {
  background-color: rgb(247,212,23);
  border-left: 1em solid #d42e12;
  border-right: 1em solid #d42e12;
}
nav ul li a.active {
  background-color: #ffb380;
  border-left: 1em solid #ffb380;
  border-right: 1em solid #ffb380;
}


/* Obsah */
article {
  float: left;
  padding: 20px;
  width: 75%;
  background-color: #A7F1F1;
  min-height: 300px;
}
article h3 {
  color: #d42e12;
  font-size: 20pt;

}


/* Paticka */
footer {
  background-color: #0026FF;
  padding: 10px;
  text-align: center;
  color: #FF0000;
}


/* Responsivita */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}